body{
    background-color: rgb(127, 155, 190);
}
h1{
    color: midnightblue;
    font-style: italic;
}
div{
    text-align: center;
}
img {
    width: 200px;
    border: 25px dashed rgb(1, 59, 184);
    border-radius: 40px;
  }